.header-container {
  padding: 20px 0; /* Add vertical padding */
  margin: 50px auto 0 auto; /* Set margin-bottom to 0 */
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  font-family: "inter var", "inter", "helvetica neue", "Arial", "sans-serif";
}

.header-content {
  max-width: 1100px; /* Limit the width */
  margin: 0 auto; /* Center the content */
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items to the start */
  padding: 0 20px; /* Horizontal padding inside the content area */
}

.header-left {
  display: flex;
  flex-direction: column; /* Stack the logo-title and text content vertically */
}

.logo-title-container {
  display: flex;
  align-items: center; /* Align the logo and title horizontally */
}

.logo {
  width: 50px;
  margin-right: 10px; /* Space between logo and title */
}

.title {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}

.text-content {
  margin-top: 10px; /* Add some space between the title and subtitle */
}

.subtitle {
  font-size: 1.1em;
  color: #666;
  margin: 5px 0 15px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  display: inline-block;
  padding: 4px 8px; /* Adjusted padding for smaller font size */
  border-radius: 2px;
  font-size: 0.6em; /* Decreased font size */
  margin-right: 5px;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.6); /* Set text color to white for better contrast */
  text-decoration: none; /* Remove underline from links */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
.bolt-icon {
  padding-right: 0.05em;
}
.time-left {
  font-weight: bold;
  color: #e74c3c;
}

.special {
  background-color: #fff; /* Red for SPECIAL */
}

.aapi-founders {
  background-color: #fff6b9; /* Orange for AAPI FOUNDERS */
}

.immigrant-founders {
  background-color: #ffc4a8; /* Darker orange for IMMIGRANT FOUNDERS */
}

.women-founders {
  background-color: #c2f9f4; /* Teal for WOMEN FOUNDERS */
}

.security-defense {
  background-color: #eee; /* Dark blue for SECURITY & DEFENSE */
}

.b2b {
  background-color: #eee; /* Gray for B2B */
}

.b2g {
  background-color: #eee; /* Lighter gray for B2G */
}

.robotics {
  background-color: #eee; /* Green for ROBOTICS */
}

.special {
  background-color: #fff;
  border: 1px solid red;
  color: #e74c3c;
}

.header-right i {
  font-size: 1.5em;
  color: #666;
  margin-left: 20px;
  cursor: pointer;
}

.header-right i:hover {
  color: #333;
}

.tag:hover {
  color: #000; /* Change background to black on hover */
  text-decoration: none; /* Ensure no underline on hover */
}

.investment-section {
  display: flex;
  font-family: "inter var", "inter", "helvetica neue", "Arial", "sans-serif";
  padding-left: 20px;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.investment-left,
.investment-right {
  padding: 20px;
}

.investment-left {
  flex: 7; /* 70% of the width */
  max-width: 70%;
}

.investment-right {
  flex: 3; /* 30% of the width */
  max-width: 30%;
  text-align: center;
}

.investment-left {
  max-width: 60%;
}

.video-container {
  position: relative;
  padding-left: 2em;
}

.video-thumbnail {
  width: 100%;
  border-radius: 8px;
}

.play-button-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.play-icon {
  font-size: 2.5em;
}

.play-text {
  font-size: 1.2em;
}
.investment-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
}

.investment-left,
.investment-right {
  padding: 20px;
}

.investment-left {
  flex: 7; /* 70% of the width */
  max-width: 70%;
}

.investment-right {
  flex: 3; /* 30% of the width */
  max-width: 30%;
  align-items: left;
  text-align: center;
}

.video-container {
  position: relative;
}

.video-thumbnail {
  width: 100%;
  border-radius: 8px;
}

.play-button-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.play-icon {
  font-size: 2em;
  margin-right: 10px;
}

.play-text {
  font-size: 1.2em;
}

.special-terms {
  margin-bottom: 20px;
  text-align: left;
}

.terms-highlight {
  display: inline-block; /* Ensures the rectangle wraps around the content */
  background-color: #eee; /* Light grey background color */
  padding: 5px 7px; /* Padding inside the rectangle */
  border-radius: 8px; /* Rounded corners */
  color: red;
  font-weight: bold;
  font-size: 0.7em;
}
.stats {
  display: flex;
  flex-direction: column; /* Stack stats vertically */
  align-items: left; /* Center-align the entire block */
  margin-bottom: 20px;
}

.stat {
  display: flex;
  flex-direction: column; /* Stack number, label, and line vertically */
  align-items: left; /* Center-align the text */
  text-align: left;
  width: 100%; /* Ensure each stat takes full width */
  margin-bottom: 10px;
}

.stat-value {
  font-size: 2.5em; /* Larger font size for the number */
  font-weight: bold;
  color: #333;
}

.stat-label {
  font-size: 1em; /* Smaller font size for the label */
  color: #666;
  margin-top: 5px; /* Space between the number and the label */
}

.stat-separator {
  width: 100%; /* Line width */
  border: none;
  border-top: 2px solid #eaeaea; /* Light grey line */
  margin: 10px 0; /* Space around the line */
}

.cta {
  margin-top: 20px;
}

.cta-button {
  z-index: 10;
  background-color: #0049ff;
  color: #fff;
  padding: 15px 30px;
  font-size: 1.2em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

.cta-subtext {
  margin-top: 10px;
  font-size: 0.9em;
  color: #666;
}

.cta-subtext a {
  color: #0049ff;
  text-decoration: none;
}

.cta-subtext a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .investment-section {
    flex-direction: column; /* Stack video and stats vertically */
    align-items: center;
    margin: 0 px auto; /* Reduce the margin around the section */
    padding: 0px; /* Reduce padding for smaller screens */
  }

  .investment-left,
  .investment-right {
    max-width: 100%; /* Full width for both video and stats */
    flex: 1; /* Flex-grow to full width */
    margin-bottom: 10px; /* Reduce bottom margin */
    padding-left: 0; /* Remove left padding */
    padding-right: 5;
  }

  .investment-right {
    margin-top: 10px; /* Reduce spacing between video and stats */
  }

  .stat-separator {
    width: 100vw; /* Ensure the line spans the full viewport width */
    margin: 5px 0; /* Reduce margin around the line */
  }
  .cta-button {
    display: none; /* Hide the button on smaller screens */
  }

  .investment-section::after {
    content: "Invest in Avawatz";
    position: fixed;
    bottom: -50px;
    left: 50%;
    z-index: 100000;
    transform: translateX(-50%);
    background-color: #0049ff;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: bottom 0.3s ease;
    width: 90%;
    display: block;
    margin: 5px auto;
    bottom: 10px;
  }
}
