<nav class="navbar">
  <div class="navbar-brand">
    <img src="assets/logo.png" alt="Logo" class="logo" />

    <ul class="navbar-menu">
      <li class="">
        <a href="#" class="nav-link">Investors</a>
      </li>
      <li class="">
        <a href="#" class="nav-link">Businesses</a>
      </li>
      <div class="search-container">
        <input type="text" placeholder="Search" class="search-input" />
        <span class="search-icon"><i class="fas fa-search"></i></span>
      </div>
    </ul>
  </div>
  <div class="navbar-actions">
    <div class="navbar-item dropdown region-dropdown">
      <a href="#" class="nav-link"> <i class="bi bi-globe"></i> US </a>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Region preference</li>
        <li>
          <span class="dropdown-subtext">You are viewing the US site</span>
        </li>
        <li><a href="#" class="dropdown-item">Global</a></li>
        <li><a href="#" class="dropdown-item active">US</a></li>
        <li><a href="#" class="dropdown-item">Europe</a></li>
      </ul>
    </div>
    <a href="#" class="navbar-link">Log in</a>
    <a href="#" class="navbar-link">Sign up</a>
  </div>
</nav>
