.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: #f8f9fa;
  padding: 0px 0; /* No horizontal padding */
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 20px; /* Add space between navbar and content */
}
/* sidebar.component.css */
.sidebar {
  position: fixed;
  scroll-behavior: smooth;
  left: 20em;
  text-align: left;
  top: 10%; /* Adjust based on your design */
  transform: translateY(0%);
  width: 50px; /* Set the width of the sidebar */
  padding: 20px;
  font-size: 0.8em;
  background-color: #fff;
  z-index: 1000;
}

.sidebar a {
  display: block;
  margin: 10px 0;
  color: #aaa;
  text-decoration: none;
}
.sidebar a:hover {
  color: #666;
}
.sidebar a:active {
  color: #666;
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: space-between;
  font-family: "inter var", "inter", "helvetica neue", "Arial", "sans-serif"; /* Replace with your desired font */
  align-items: center;
  padding: 10px 30px; /* Padding inside the navbar */
  margin: 0 auto; /* Center the navbar */
  max-width: 1100px; /* Optional: Set a maximum width */
}
.navbar button {
  background: none;
  border: none;
  font-size: 1.2em;
  margin-right: 20px;
  cursor: pointer;
  padding: 10px;
}

.navbar button.active {
  border-bottom: 3px solid #0049ff;
  color: #0049ff;
  font-weight: bold;
}

.section-content {
  background-color: #fff;
  margin-bottom: 30px; /* Add space between sections */
}

.section-content h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}
.investment-summary-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px auto;
  padding: 0 20px;
  font-family: "inter var", "inter", "helvetica neue", "Arial", "sans-serif";
  max-width: 1100px;
}

.investment-summary-left {
  flex: 7;
  width: 70%;
  padding-right: 20px;
}

.investment-summary-right {
  flex: 3;
  width: 30%;
  margin-left: 2em;
  padding-left: 20px;
  background-color: #fff;

  text-align: left;
  margin-right: 0;
}

.investment-summary-left ul {
  list-style-type: disc;
  padding: 10;
}

.investment-summary-right ul {
  list-style-type: none;
  padding: 0;
}

.investment-summary-left li {
  margin-bottom: 10px;
  line-height: 1.6;
  font-size: 15px;
}

.investment-summary-right .deal-terms li {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #eaeaea;
}
@media (max-width: 768px) {
  .investment-summary-container {
    flex-direction: column;
    padding: 0;
    width: 100%;
  }

  .investment-summary-left,
  .investment-summary-right {
    margin-right: 0;
    padding: 0;
    width: 100%; /* Ensures the columns take up the full width of the screen */
  }

  .investment-summary-right {
    margin-top: 20px; /* Adds space between the stacked columns */
  }
  .deal-terms-section {
    background-color: #fff;
    padding: 0;
    max-width: 100%;
    margin: 0 auto;
  }
}

.deal-terms-section {
  background-color: #fff;
  padding: 10px;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

.special-tag {
  background-color: white;
  color: red;
  border: 1px solid red;
  border-radius: 0.3em;
  font-size: 0.9em;
  padding: 5px 10px;
  align-items: center;
  position: absolute;
  top: 20px; /* Align with the h2 */
  right: 20px; /* Position on the right */
}

.deal-terms {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.deal-terms li {
  margin-bottom: 15px;
  font-size: 14px;
  color: #333;
}

.deal-terms li span {
  float: right;
  font-weight: bold;
}

.info-icon {
  margin-left: 5px;
  font-size: 0.8em;
  color: #888;
}

.fas.fa-bolt {
  color: red;
  margin-right: 5px;
}

.info-icon {
  font-size: 0.8em;
  margin-left: 5px;
  cursor: pointer;
}

.disclaimer {
  font-size: 0.85em;
  color: #666;
  margin-top: 20px;
}
.disclaimer {
  font-style: italic;
  text-align: center;
}
.alldisc {
  padding-top: 40px;
}

.disclaimer-image {
  max-width: 100%; /* Ensure image is responsive */
  height: auto;
  display: block;
  margin: 20px 0; /* Adjust margin as needed */
}
.divider {
  border: 0; /* Remove default border */
  height: 1px; /* Line thickness */
  background-color: #ccc; /* Line color */
  margin: 10px 0; /* Space above and below the line */
  width: 50px; /* Line width */
}

/* Other existing styles for disclaimer and component layout */

.disclaimer a {
  color: #007bff;
  text-decoration: none;
}

.disclaimer a:hover {
  text-decoration: underline;
}
.pitch-image {
  margin: 20px auto; /* Center the image with some space around it */
  max-width: 100%; /* Ensure the image is responsive */
  height: auto; /* Maintain the aspect ratio */
}

.pitch-text {
  margin-top: 20px;
  padding-top: 40px;
  font-family: "inter var", "inter", "helvetica neue", "Arial", "sans-serif";
  color: #333;
}
.opportunity {
  margin-top: 20px;
  padding-top: 40px;
  font-family: "inter var", "inter", "helvetica neue", "Arial", "sans-serif";
  color: #333;
}
.leadership {
  margin-top: 20px;
  padding-top: 40px;
  font-family: "inter var", "inter", "helvetica neue", "Arial", "sans-serif";
  color: #333;
}
.MarketTraction {
  margin-top: 20px;
  padding-top: 40px;
  font-family: "inter var", "inter", "helvetica neue", "Arial", "sans-serif";
  color: #333;
}
.Businessmodel {
  margin-top: 20px;
  padding-top: 40px;
  font-family: "inter var", "inter", "helvetica neue", "Arial", "sans-serif";
  color: #333;
}
.Competition {
  margin-top: 20px;
  padding-top: 40px;
  font-family: "inter var", "inter", "helvetica neue", "Arial", "sans-serif";
  color: #333;
}
.Summary {
  margin-top: 20px;
  padding-top: 40px;
  font-family: "inter var", "inter", "helvetica neue", "Arial", "sans-serif";
  color: #333;
}
.Disclaimer {
  margin-top: 20px;
  padding-top: 40px;
  font-family: "inter var", "inter", "helvetica neue", "Arial", "sans-serif";
}

h2 {
  font-size: 1.8em; /* Adjust font size */
  font-family: "inter var", "inter", "helvetica neue", "Arial", "sans-serif"; /* Set desired font */
  color: #666; /* Set text color */
  margin-bottom: 20px; /* Add space below */
  margin-top: 20px; /* Add space above */
  line-height: 1.2; /* Set line height */
  font-weight: bold; /* Make the text bold */
}

h3 {
  font-size: 1.5em; /* Adjust font size */
  font-family: "inter var", "inter", "helvetica neue", "Arial", "sans-serif"; /* Set desired font */
  color: #000; /* Set text color */
  margin-bottom: 20px; /* Add space below */
  margin-top: 10px; /* Add space above */
  line-height: 1.6; /* Set line height */
  font-weight: normal; /* Ensure the text is not bold */
}
.MarketTraction ul {
  list-style-type: disc;
  padding: 0;
}

.MarketTraction li {
  font-size: 1em; /* Adjust font size */
  font-family: "inter var", "inter", "helvetica neue", "Arial", "sans-serif"; /* Set desired font */
  color: #000; /* Set text color */
  margin-bottom: 20px; /* Add space below */
  margin-top: 10px; /* Add space above */
  line-height: 1.6; /* Set line height */
  font-weight: normal; /* Ensure the text is not bold */
}
.video-container {
  width: 60%;
  max-width: 691px; /* Optional: Limit the width of the video */
  margin: 0 auto; /* Center the video */
}

video {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px; /* Optional: Rounded corners */
}
.investment-input-container {
  display: flex;
  align-items: center;
  gap: 20px; /* Space between input field and button */
  margin-top: 20px;
}

.input-overlay-container {
  position: relative;
  width: 150px; /* Set the overall width of the container */
}

.currency-symbol {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px; /* Size of the $ symbol */
  color: #333; /* Color of the $ symbol */
}

.investment-input {
  width: 100%; /* Make the input fill the width of the container */
  height: 40px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: right; /* Align text (and cursor) to the right */
  padding-left: 30px; /* Ensure space for the $ symbol */
  padding-right: 10px;
  -moz-appearance: textfield; /* Remove arrows in Firefox */
}

.investment-input::-webkit-inner-spin-button,
.investment-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Remove arrows in Chrome and Safari */
}

.input-overlay {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 14px; /* Increase the size of the text in the overlay */
  font-weight: bold;
  color: #888;
}

.invest-button {
  padding: 10px 40px; /* Wider button */
  font-size: 16px;
  color: #fff;
  background-color: #0049ff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.invest-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.invest-button:hover:not(:disabled) {
  background-color: #003bb5;
}

.documents-section {
  background-color: #fff;
  padding: 10px;
  max-width: 400px; /* Adjust width as needed */
  margin: 0 auto;
}
.documents-container {
  border: 1px solid #ddd;
}

.document-description {
  background-color: #fff;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.document-description p {
  margin: 0;
  font-size: 14px;
  color: #aaa;
}
.document-list {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}
.document-list p {
  margin: 0;
  font-size: 14px;
  color: #aaa;
  padding-left: 15px;
  margin-bottom: 35px;
}

.document-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.document-list li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.document-list a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.document-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 10px;
  padding: 15px;
  padding-bottom: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.document-link:hover {
  background-color: #e2e0e0; /* Light blue background */
  color: #0049ff; /* Dark blue text */
}
.document-link:hover li {
  background-color: #e2e0e0;
  color: #0049ff; /* Dark blue text */
}
.document-link:hover a {
  background-color: #e2e0e0;
  color: #0049ff; /* Dark blue text */
}

.document-link i {
  margin-right: 8px;
}

.document-link:hover i {
  color: #0049ff; /* Change icon color on hover */
}

.bonus-perks-section {
  padding: 10px;
  margin: 0 auto;
  text-align: left;
  align-items: left;
}

.bonus-perks-section p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.bonus-perk {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 0px auto;
  border: 0.05px solid #e4e4e4;
  text-align: left; /* Align text to the left */
  transition: background-color 0.3s ease; /* Smooth background color change */
}
.bonus-perk:hover {
  background-color: #f0f0f0; /* Light grey background on hover */
}

.bonus-perk h3 {
  font-size: 1em;
  color: #666;
  font-weight: bold;
  margin-bottom: 10px;
}

.amount {
  font-size: 2em;
  color: #0056ff;
  font-weight: bold;
  margin-bottom: 10px;
}

.bonus-perk h4 {
  font-size: 1em;
  color: #666;
  margin-bottom: 10px;
}

.bonus-perk p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.invest-button2 {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease, border-color 0.3s ease;
}
.invest-button2 a {
  color: #333;
}

.invest-button2:hover {
  color: #0049ff;
  border-color: #0049ff;
}

.invest-button2:hover a {
  color: #0049ff;
}
.about-section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.about-section h2 {
  font-size: 2em;
  font-weight: bold;
  color: #5d5d5d;
  margin-bottom: 10px;
  text-align: center;
}

.blue_divider {
  border: 0;
  height: 2px;
  background-color: #0056ff; /* Blue color for the line */
  margin-bottom: 20px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.about-content {
  font-family: "inter var", "inter", "helvetica neue", "Arial", "sans-serif"; /* Replace with your desired font */

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.about-details-left,
.about-details-right,
.about-map {
  flex: 1;
  min-width: 300px;
}

.detail-item {
  margin-bottom: 20px;
}

.detail-item strong {
  display: block;
  font-size: 1em;
  color: #666;
}

.detail-item p {
  font-size: 1.2em;
  color: #333;
  margin: 5px 0;
}

.detail-item a {
  color: #0056ff;
  text-decoration: none;
}

.detail-item a:hover {
  text-decoration: underline;
}

.social-icons a {
  margin-right: 10px;
  font-size: 1.5em;
  color: #333;
}

.social-icons a:hover {
  color: #0056ff;
}

.map-container {
  background-color: #f9f9f9;
  max-width: 100%; /* Ensures the map container takes full width */
  text-align: center; /* Center the content inside the map container */
}

.map-container iframe {
  width: 100%;
  height: 70px; /* Adjust height to create a rectangular shape */
  margin-bottom: 0;
}

.map-container p {
  font-size: 1em;
  color: #fff; /* Makes the text white */
  background-color: #333; /* Makes the background black */
  padding: 10px;
  margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column; /* Stacks all items in one column */
    align-items: center;
  }

  .about-details-left,
  .about-details-right,
  .about-map {
    width: 100%; /* Ensures each section spans 100% of the screen width */
    margin-bottom: 20px; /* Adds space between sections when stacked */
  }

  .about-map {
    text-align: center;
  }
}
.team-section {
  align-items: center;
  text-align: center;
  margin: 0px auto;
  padding: 0 20px;
  font-family: "inter var", "inter", "helvetica neue", "Arial", "sans-serif";
  max-width: 1100px;
  justify-content: center;
}
.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  align-items: center;
}

.team-member {
  background: #fff;
  padding: 20px;
  max-width: 300px;
  text-align: center;
}

.team-member img {
  max-width: 60%;
  border-radius: 50%;
  margin-bottom: 15px;
}

.team-member h3 {
  margin: 5px 0;
  font-size: 1.2em;
}

.team-member p {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 10px;
  line-height: 20px;
}

.team-member a {
  color: #007bff;
  text-decoration: none;
}

.team-member a:hover {
  text-decoration: underline;
}

/* Responsive design */
.press-section {
  align-items: center;
  text-align: center;
  margin: 0px auto;
  padding: 0 20px;
  font-family: "inter var", "inter", "helvetica neue", "Arial", "sans-serif";
  max-width: 1100px;
  justify-content: center;
}

.press-section h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.press-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  align-items: center;
}

.press-article {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 300px;
  max-height: 400px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.press-article:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.press-article a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
}

.press-image img {
  width: 300px;
  height: 200px;
}

.press-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.press-content h3 {
  font-size: 1.2em;
  margin: 0;
  color: #333;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.press-content .source {
  font-size: 0.9em;
  color: #666;
  margin-top: 8px;
  margin-bottom: 8px;
}

.press-content .description {
  font-size: 1em;
  color: #333;
  flex-grow: 1;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.risk-section {
  align-items: center;
  text-align: center;
  margin: 0px auto;
  padding: 0 20px;
  font-family: "inter var", "inter", "helvetica neue", "Arial", "sans-serif";
  max-width: 100px;
  justify-content: center;
}

.risks-container {
  display: flex;
  font-family: "inter var", "inter", "helvetica neue", "Arial", "sans-serif";
  gap: 60px;
  margin-bottom: 40px;
  align-items: flex-start;
  position: relative;
}

.risks-list {
  width: 35%;
}

.risks-list ul {
  list-style: none;
  padding: 0;
}

.risks-list li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: left;
}

.risks-list a {
  color: #000;
  text-decoration: none;
}

.risks-list a:hover {
  text-decoration: underline;
  color: #0049ff;
}
.risks-list a.active-risk {
  color: #0049ff; /* Highlight color for the active risk */
}

.show-all-link {
  margin-top: 20px;
  color: #0049ff;
  text-decoration: none;
  font-weight: bold;
}

.show-all-link:hover {
  text-decoration: underline;
}

.risk-content {
  width: 65%;
  text-align: justify;
}

.risk-content p {
  margin: 15px 0 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 20px;
  color: #555;
  background-color: #fafafa;
  line-height: 1.6;
}
@media (max-width: 768px) {
  .risk-section {
    z-index: 0;
    flex-direction: column;
    margin-top: 20px; /* Ensure the section is pushed down */
  }
  .risk-content p {
    z-index: 0;
    position: relative;
  }
}

.timelinesection {
  font-family: "inter var", "inter", "helvetica neue", "Arial", "sans-serif";
  margin-top: 15px;
}
.timeline {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.timeline::before {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #d9d9d9;
  top: 0;
  bottom: 0;
  left: 40px;

  margin-right: 4em;
  margin-left: -1.5px;
}

.timeline-item {
  position: relative;
  padding: 10px 40px;
  background-color: white;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-left: 50px;
}
.timeline-footer {
  display: flex;
  flex-direction: row; /* Stack name and company vertically */
}
.author-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.timeline-date {
  font-size: 14px;
  color: #777;
  z-index: 2;
  background-color: #fff;
  position: absolute;
  top: 10px;
  left: -60px;
  text-align: right;
  width: 60px;
}
.timeline-content {
  padding: 20px;
  background-color: white;
  border-radius: 6px;
  align-items: left;
  text-align: left;
  border: 1px solid #eee;
  margin-left: 40px; /* Increase this value to increase the gap */
}

.timeline-content h3 {
  margin-top: 0;
  text-align: left;
  font-weight: bolder;
  font-size: 2em;
  line-height: 1;
  letter-spacing: -1px;
}

.timeline-content p {
  margin: 20px 0 0;
  text-align: left;
}

@media (max-width: 600px) {
  .timeline-item {
    margin-left: 40px;
  }
  .timeline::before {
    display: none; /* Hide the vertical line */
  }
  .timeline-item {
    width: 100%; /* Full width for smaller screens */
    padding: 0;
    left: -4em;
    text-align: center; /* Center the text and images */
  }

  .timeline-date {
    display: None;
  }

  .timeline::before {
    left: 10px;
  }
}
